.highlight{
    padding: 1em;
    grid-column: 2;
    grid-row: 2/ span 3;
    background-color: #203040;
}

.highlight h3 > h4:last-of-type {
   margin-bottom: 3px;
}

.highlight p {
    font-size: 12px;
    color: white;
}