select {
  appearance: none;
  border: none;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background: #cdcdcd;
  color: #203040;
  
}

.elementsWrap{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3%;
}
.buttonWrap {
  display: flex;

  justify-content: center;
  margin-right: 30%;
  
}

.btn-default {
    background-color: #2770bc;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    font-size: 14px;
    margin-left: 2px;
    
}
.btn-primary {
    background-color: #d043ee;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    font-size: 14px;
    margin-left: 2px;

}


.btn-secondary {
    background-color: #7223e7;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    font-size: 14px;
    margin-left: 2px;
    
}
.chart1,  .chart3, .chart4 {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 60%;
    height: 100vh;
    padding: 0 30px;
    margin-left: 18%;
}
.chart2 {
  display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 60%;
    height: 20vh;
    padding: 0 30px;
    margin-left: 18%;
    margin-bottom: 40%;
}
.infobox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    margin-left: 0%;
    font-size: 80%;
}
.box1 {
    margin-top: 2%;
    width: 70%;
}
.numberBox {
    margin-top: -3%;
    margin-left: 5%;
}
.numberText2 {
    margin-top: -15%;
    width: 70%;
}

/*ToggleSlider*/
.toggleContainer{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 95%;
    display:flex;
    justify-content: center;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .label-text {
    color: grey;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 80%;
  }
  
  .toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: #d6d6d6;
    overflow: hidden;
  }
  .toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 22px;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
  }
  .active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: #d6d6d6;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
  }
  .toggle-state {
    display: none;
  }
  .indicator {
    height: 100%;
    width: 200%;
    background: white;
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }
  .toggle-state:checked ~ .active-bg {
    transform: translate3d(-50%, 0, 0);
 }
 
 .toggle-state:checked ~ .toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
 }

 
.chart1 svg, .chartBody svg, .IKTWarapperRef svg {
  
  overflow: visible;
  display:block;
  width: 100%;
  height: 54vh;
}

.BarToggle {
  margin-top: 10%;
  width: 100%;
}

.BarToggle svg {
  width: 100%;
  height: 600px;
}


.grid .tick line {
  stroke: lightgrey;
  stroke-width: 1;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

/*Mobilnutzung*/

.HeadlineWrapp {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  margin-top: 20%;
  

}

.HeadMobildichte {
  display: flex;
  flex-direction: column;
  
}
.MobildichteText, .NutzungsText, .IKTText {
  font-size: 79%;
  width: 53%;
}

.specialCharts {
  display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 90%;
    height: 50vh;
    padding: 0 30px;
    margin-top: 3%;
   
}
 .Jahre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  height: 100%;
  width: 110%;
  margin-top: 0.3%;
  margin-bottom: -3%;
  margin-left: -4.5%;
  
}

 .Jahre button{
  height:100%;
  width: 100%;
  border: none;
  background: white;
  color: #2770bc;
  font-weight: bolder;
  cursor: pointer;

}
.BarAge, .PieEd {
  width: 30%;
  margin-left: 4%;
}

.BarAge svg, .PieEd svg{
  width:100%;
  height: 30vh;
  overflow: visible;
}

.BarAge svg rect.bar:hover{
  fill: #7223e7 !important;
}

h5 {
  margin-bottom: 10%;
  margin-left: 15%;

}

.NumberHeader h5 {
  margin-left: 40%;
}
.ChartEd svg {
  overflow: visible;
}

.ChartEd svg path:hover {
  fill: #d043ee !important;
}
.ChartEd svg{
  margin-left: 30%;
  margin-top: 30%;
}
.MaleFemale {
  width: 30%;
}

.ChartEd svg g .tooltip{
  font-size: 20px;
  font-weight: bold;
  fill: #d043ee;
}

.MaleFemale {
  display: flex;
  flex-direction: column;
}

.Number {
  display: flex;
  flex-direction: row;
  margin-top: 0%;
}

.Frau, .Mann {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}
.Prozent {
  font-size: 300%;
  font-weight: bolder;
  color: #203040;
  
}

.gender {
  color: #203040;
  font-size: 120%;
  margin-top: -35%;
  margin-left: 18%;
}

.alter {
  color: darkgrey;
  width: 100%;
  font-size: 80%;
  margin-top: -20%;
  margin-left: 4%;
}
.frauenName, .männerName {
  margin-top: -45%;
}

/*Nutzungsgründe */

.NutzungHeadLine {
  display: flex;
  flex-direction: column;
}

.chart3{
  margin-top: 20%;
}

.ChartBodyWrap {
  display: flex;
  flex-direction: row;
}

.ChartBodyNutzung svg{
  width: 100%;
  height: 100%;
  overflow: visible;
}

.ChartBodyNutzung svg rect.bar:hover{
  fill: #2770bc !important;
}

.ChartBodyIcons {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  margin-top: 6%;
  border-left: solid;
  border-color: grey;
  border-width: 1.5px;
  width: 100%;
  flex-wrap: wrap;
  height: 60%;
}
.IconWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-left: 20%; 
}
.ChartBodyIcons i {
  font-size: 120%;
  color: grey;
 border-radius: 50%;
 border-color: grey;
 border-style:solid;
 border-width: 4px;
 padding: 10px;
}
.ChartBodyIcons .IconText {
  font-size: 11px; 
  color: grey;
}
.ChartBodyIcons button{
border: none;
background-color: white;
}

.ChartBodyIcons button:focus{
  background-color: #2770bc;
  }

  /*IKT-Beschäftigung*/

  .IKTWrapping {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
  }

  .IKTHeadLine {
    display: flex;
    flex-direction: row;
  }

  .IKTHeadLine {
    display: flex;
    flex-direction: column;
  }

  .ChartIKTWrap {
    display: flex;
    flex-direction: row;
  }

  .ChartIKTCards{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 30%;

  }
  .Cards {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: grey;
    border-width: 1px;
    height: 40%;
    margin-top: 10%;
    
  }
  .Cards:focus, .Cards:hover {
    background-color: lightgrey;
  }
  .ChartIKT{
    width: 60%;
  }
.headIKT{
  font-weight: bolder;
  color: #203040;
}
.DataWrap {
  display: flex;
  flex-direction: row;
}
.dataRecordM {
  background-color: #7223e7;
  font-size: 12px;
  color: white;
  padding: 3px;
  margin-left: 3px;
  
}

.dataRecordF {
  background-color: #d043ee;
  font-size: 12px;
  color: white;
  padding: 3px;
  margin-left: 3px;
}
.CardText {
  text-align: start;
  font-size: 12px;
}

.dataRecordBesch {
  background-color: #203040;
  font-size: 12px;
  color: white;
  padding: 3px;
  margin-left: 3px;
}

.dataRecordRek {
  background-color: grey;
  font-size: 12px;
  color: white;
  padding: 3px;
  margin-left: 3px;
}

.dataRecordBes{
  background-color: #2770bc;
  font-size: 12px;
  color: white;
  padding: 3px;
  margin-left: 3px;
}