.header {
   grid-column: 3;
   grid-row: 1/ span 2;
   width: 100%;
   height: 100%;
   overflow: hidden;
   /* background-image: url('../assets/europe.png'); */
    background-color: #2770bc;
    display: flex;
    flex-direction: row;
    /*justify-content: stretch;
  /*  background-size: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; */
}

.textForHeader{
    margin-top: 5%;
    margin-left: 5%;
    width: 40%;
    height: 40%;
}
.boldText {
    color: white;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.normalText {
    color: white;
    width: 100%;
    font-size: 12px;
    
}
.wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -15%;
    width: 60em;
    height: 30em;
}

svg {
    width: 100%;
    height: auto;
    overflow: hidden;
}
svg .country:hover {
    stroke: white;
    stroke-width: 0.5px;
    cursor: pointer;
    
}

.mapSelect{ 
    margin-top: 5%;
    margin-left: 5%;
    width: 20%;
    margin-bottom: 2%;
}

.GeoWrappping {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.textBack {
    width: 10%;
}
